<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Helpful website for every ManiaPlanet player, who wants to create a great nick or color map name. Generated code can be used for both games: Trackmania and Shootmania." />
    <meta name="keywords" content="ManiaPlanet,TrackMania,ShootMania,Color,Nick,Map,Name">
    <meta name="author" content="Ketrab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="zikHzUP2BPlxqSJznUkXttzV85ikCbGzlcxaLAas8P4" />

    <title>ManiaNickr</title>
    <link href='https://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="ManiaNickrLogo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet'>

</head>

<body>

    <main class="p-3 shadow">
        <div id="creator-info">
            created by
            <span style="font-weight: bold; color: rgb(255, 255, 255);">&#1090;&#1084;&#1093;</span><span style="font-weight: bold; color: rgb(0, 0, 0);">&raquo;</span><span style="font-weight: bold; color: rgb(255, 255, 255);">&#1185;&epsilon;&tau;&#1103;&alpha;&#1074;</span><span style="font-weight: bold; color: rgb(0, 80, 40)">'</span>
        </div>
        <div>
            <img src="ManiaNickrLogo.png" width="75" height="75" alt="Mania Nickr Logo">
            <span id="logo-title">ManiaPlanet Nickr</span>
        </div>
        <div class="container bigbox" id="modifier">
            <!-- text format -->
            <div id="properties" class="">
                <div class="m-0 p-0 d-flex">
                    <div class="checker my-auto">
                        <input type="radio" id="prop-narrow" name="prop-wideness" value="narrow">
                        <label class="m-0" for="prop-narrow">narrow</label><br/>
                        <input type="radio" id="prop-normal" name="prop-wideness" value="normal">
                        <label class="m-0" for="prop-normal">normal</label><br/>
                        <input type="radio" id="prop-wide" name="prop-wideness" value="wide">
                        <label class="m-0" for="prop-wide">wide</label><br/>
                    </div>
                    <div class="checker my-auto">
                        <input type="checkbox" id="prop-bold" name="prop-bold" value="bold">
                        <label id="prop-bold-label" class="m-0" for="prop-bold">bold</label><br/>
                        <input type="checkbox" id="prop-italic" name="prop-italic" value="italic">
                        <label id="prop-italic-label" class="m-0" for="prop-italic">italic</label><br/>
                        <input type="checkbox" id="prop-shadow" name="prop-shadow" value="shadow">
                        <label id="prop-shadow-label" class="m-0" for="prop-shadow">shadow</label><br/>
                    </div>
                </div>
                <!-- color -->
                <div class="m-0 p-0 d-flex">
                    <div id="picker" class="color-checker mx-2 px-0 my-auto"></div>
                    <div class="d-flex mx-2 my-auto">
                        <div class="d-flex flex-column px-2">
                            <label class="text-right font-weight-bold">HEX:</label>
                            <label class="text-right font-weight-bold">RGB:</label>
                        </div>
                        <div class="d-flex flex-column">
                            <input id="color-hex-input" class="" type="text">
                            <div id="rgb-inputs" class="d-flex">
                                <input id="rgb-inputs-red" class="input-flexible flex-grow-1" type="number" min="0" max="255">
                                <input id="rgb-inputs-green" class="input-flexible flex-grow-1" type="number" min="0" max="255">
                                <input id="rgb-inputs-blue" class="input-flexible flex-grow-1" type="number" min="0" max="255">
                            </div>
                            <button id="button-apply-color">Apply color</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- nick -->
            <div id="nick-edit">
                <div class="my-1">
                    <label class="m-0">Text: </label>
                    <div id="input-text" contenteditable="true" class="single-line"><%- locals.savedNick %></div>
                </div>
                <div class="my-1">
                    <label class="m-0">Code:</label>
                    <span id="input-nadeo-warning" style="position: relative;">
                        <span id="input-nadeo-warning-text"></span>
                        <div id="input-nadeo-warning-info">
                            <span class="font-weight-bold">Generated code might be too long!</span>
                            <span>If you're generating the code</span>
                            <span>for MediaTracker - it's fine.</span>
                            <span>Otherwise - check out the limits:</span>
                            <div>
                                <table>
                                <tr><th>MP Nick</th><th>MP Map</th><th>TM Nick</th><th>TM Map</th></tr>
                                <tr><td>60</td><td>60</td><td>45</td><td>60</td></tr>
                                </table>
                            </div>
                        </div>
                    </span>
                    <div id="input-nadeo" class="d-flex flex-row">
                        <input id="input-nadeo-input" readonly="true" type="text" placeholder="Paste the code to ManiaPlanet" class="flex-grow-1">
                        <button onclick="copyToClipboard()">copyToClipboard</button>
                    </div>
                </div>
                <div class="my-1">
                    <label class="m-0">Result:</label>
                    <div id="result" class="single-line"></div>
                </div>
            </div>
        </div>

        <!-- special characters -->
        <div class="bigbox d-flex flex-column">
            <span id="special-characters-title">Special characters</span>
            <select id="special-characters"></select>
            <div id="characters" class="flex-grow-1"></div>
        </div>

        <!-- footer -->
        <footer>
            <form action="/donate" method="post" target="blank">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="QEM6B9Z67JKGS" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" name="submit" title="Help to keep the server online and donate via PayPal." alt="Donate with PayPal button" />
            </form>
            <span>Copyright &copy; 2020 Bartłomiej Grochowski</span>
        </footer>

        <%= locals.msg %>

    </main>


    <!-- JS Libs -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="https://maniaplanet.github.io/maniaplanet-style-js-parser/bin/mp-style-parser.js"></script>
    <script src="jquery-cookie.js"></script>

    <!-- JS Scripts -->
    <script src="color-picker.js"></script>
    <script src="text-input.js"></script>
    <script src="common-scripts.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164273479-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164273479-1');
    </script>
</body>



</html>
