


main {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(27, 25, 25);
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: rgb(64,110,111);
    background: linear-gradient(0deg, rgba(64,110,111,1) 0%, rgba(34,86,106,1) 100%);

    border-right: 1px solid rgb(49, 44, 44);
    border-left: 1px solid rgb(49, 44, 44);
    border-top:  0px;
    border-bottom:   0px;
}

button {
    background-color: rgb(131, 149, 150);
}


.shadow {
    box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.75);
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#modifier {

    padding: 10px;
    margin: 5px;

    display: flex;
    flex-direction: column;
}

#properties {
    /*border: solid 1px white;*/
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.checker {
    margin: 5px 20px;
    padding: 1px;
}


#nick-edit {
    padding: 10px;
}


#input-text {
    border: solid 1px black;
    background-color: white;
    width: 100%;
    height: 30px;

}

#characters {
    /*border: solid 1px white;*/
    background-color: white;
    width: 100%;
    min-height: 100px;
}

#color_checker {
    /*border: solid 1px white;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.narrow_input {
    width: 30px;
}

.bordered {
    border: solid 1px white;
}

.center_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.bigbox {
    padding: 5px;
    margin: 5px;
    /*border-radius: 10px;
    border: solid 1px white;*/
    flex: 1;
}

#result {
    width: 100%;
    height: 40px;
    border: solid 1px black;
    background-color: white;
    font-size: 1.5em;
}

.input-flexible {
    overflow: hidden;
    width: 50px;
}





.single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
.single-line br {
    display:none;

}
.single-line * {
    display:inline;
    white-space:nowrap;
}


#input-text span::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

#input-nadeo-warning {
    display: none;
    color: darkred;
}

#input-nadeo-warning-info {

    display: flex;

    visibility: hidden;
    opacity: 0;

    opacity: 0;
    background-color: grey;
    padding: 5px;
    border: 1px solid black;

    width: auto;
    height: auto;

    flex-direction: column;
    position: absolute;
    font-size: 0.75em;
    color: black;

    border-radius: 10px;
    transition: visibility 0s, opacity 0.35s 0.15s linear;
}

#input-nadeo-warning:hover #input-nadeo-warning-info {

    visibility: visible;
    opacity: 1;

    width: auto;
    height: auto;
    transition: visibility 0s, opacity 0.35s linear;
}

#input-nadeo-warning-info span {
    text-align: center;
    white-space:nowrap;
}

#input-nadeo-warning-info table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  #input-nadeo-warning-info table td, th {
      text-align: center;
    padding-left: 2.5px;
    padding-right: 2.5px;
    white-space:nowrap;
  }




#footer {
    text-align: center;
}
